<aside class="bg-dark">
    <div class="container text-center">
        <div class="call-to-action">
            <h2>Descarga Mujer Segura</h2>
            <%= link_to "Descargala ya!", '/apk//MujerSegura.apk',{:class=> "btn btn-default btn-xl wow tada"} %>
        </div>
    </div>
</aside>

